<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" routerLinkActive="active" [routerLink]="['nuevo']" class="btn btn-light">Nuevo</button>
            <button type="button" routerLinkActive="active" [routerLink]="['editar']" class="btn btn-light">Editar</button>
            <button type="button" routerLinkActive="active" [routerLink]="['detalle']" class="btn btn-light">Detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>